name: Fork Release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Release tag
        required: true
        type: string

permissions: {}

jobs:
  build:
    name: Build artifacts
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b  # v7.2.0
    - run: ./scripts/build.sh
    - name: Upload artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: artifacts
        path: |
          dist/deno-*.whl
          dist/deno-*.tar.gz
        compression-level: 0

  release:
    name: Create GitHub release
    needs: [build]
    permissions:
      contents: write  # Needed by gh to publish release to Github
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        persist-credentials: false
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        path: dist
        name: artifacts
    - name: Create GitHub Release
      env:
        GH_TOKEN: ${{ github.token }}
        TAG: ${{ inputs.tag }}
      run: |
        gh release create "${TAG}" \
          --title "${TAG}" \
          --generate-notes \
          dist/deno-*.whl \
          dist/deno-*.tar.gz
